
 .divArticle {
    margin: 30px;
    padding: 10px;
}

.divArticle {
    background-color: white;
}

.divArticle > h2 {
    padding-left: 10px;
    margin-bottom: 15px;
}

.divArticle > div {
    background-color: lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divimg {
    width: 30%;
    text-align: center;

}
.divimg>img{
    border-radius: 50%;
}
.divArticle p {

    width: 70%;
}
